.home-page-text2{direction:rtl}.home-page-text2
h2{font-size:26px}h1,h2,h3,h4,h5,h6,p{direction:rtl}li{font-family:armio,arial,"sans serif";color:#8c8c8c;font-size:20px;list-style-position:inside;text-align:right}.line-heigt-170
div{line-height:170% !important;direction:rtl !important}.current-menu-item ul
a{color:#3A3F56 !important}.current-menu-item ul a:hover{color:#fff !important}ul ul .current-menu-item a:hover{color:#fff !important}.slick-prev{right:-15px !important;left:auto !important}.slick-next{left:-15px !important;right:auto !important}p,li,a,.aio-icon-description{direction:rtl}.cf7name{width:50% !important;float:right !important;padding-left:15px !important}.cf7subject{width:50% !important;float:right !important;padding-right:15px !important}.nav-container{direction:rtl}@media (min-width: 994px){.navbar-right{float:left !important}.navbar-nav>li{float:right}a.menu-link.main-menu-link{padding-top:30px !important;padding-bottom:30px !important}.header_after_scroll a.menu-link.main-menu-link{padding-top:16px !important;padding-bottom:16px !important}.spaced-justifyd-narow .uvc-sub-heading{width:75%}}.spaced-justifyd .uvc-sub-heading{line-height:170% !important;direction:rtl;text-align:justify !important}.uvc-sub-heading{direction:rtl}.text-error
a{font-size:20px}.uvc-sub-heading a,
.text-error
a{color:#3A3F56 !important}.uvc-sub-heading a:hover,
.text-error a:hover{color:#26ade4 !important}.spaced-justifyd-narow .uvc-sub-heading{line-height:170% !important;direction:rtl;text-align:justify !important}.spaced-justifyd-small .aio-icon-description{line-height:170%;direction:rtl;text-align:justify !important}.cf7mesege{width:81% !important;float:right !important}.ultb3-desc{direction:rtl;text-align:left}.ultb3-title{direction:rtl;text-align:left}img.ultb3-img{-webkit-transition:all 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);-moz-transition:all 450ms ease-out;transition:all 450ms ease-out}div.pp_default
.pp_close{color:transparent}.bt-contact{width:19%;top:108px;position:relative}.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7
textarea{border-width:2px;padding:7px;margin:5px
0}.wpcf7 input[type="text"]:active,
.wpcf7 input[type="email"]:active,
.wpcf7 textarea:active,
.wpcf7 input[type="text"]:focus,
.wpcf7 input[type="email"]:focus,
.wpcf7 textarea:focus{border-color:#3A3F56}.slideshow-lightbox-triger{display:inline-block;border:2px
solid;padding:7px;font-weight:700}.footer-custom-image{display:block;float:left}.footer-custom-text{display:block;width:70%;float:right}.footer-custom-text
p{line-height:130%;font-size:16px;margin-top:20px}#menu-footer-menu .menu-item
a{color:#fff !important}#menu-footer-menu ul .menu-item
a{color:inherit !important}.footer_sidebar ul li
a{border:none}.footer_sidebar ul#menu-footer-menu li a,
.footer_sidebar ul#menu-footer-menu li:last-child{border:none;padding:0}.footer_sidebar ul li:after{display:none}.footer_sidebar ul li#menu-item-3415{width:180px;display:block;float:right}.footer_sidebar ul li#menu-item-3429{width:360px;display:block;float:right}#menu-footer-menu #menu-item-3429 ul
li{width:50%;display:block;float:right}.menu-footer-menu-container{position:relative;top:-10px}.footer_custom_text.center
p{display:block;width:50%;float:right;font-size:16px}.footer_custom_text.center p
a{color:inherit !important}@media (max-width: 994px){.dl-menuwrapper li
a{text-align:center !important}li.dl-back a:before{content:"  חזרה לתפריט הקודם  "}}@media only screen and (max-width: 993px) and (min-width: 480px){.dl-menuwrapper
button{float:left;margin-left:20px}}@media (max-width: 580px){.cf7mesege{width:100% !important}.bt-contact{width:100%;top:0}.cf7name,.cf7subject{width:100% !important;padding:0
!important}.footer-custom-image{float:none;margin-left:auto;margin-right:auto;width:125px}.footer-custom-text{float:none;width:100%}}#wpmem_login legend,
#wpmem_login
label{text-align:right}#wpmem_login
fieldset{direction:rtl}#wpmem_login
.button_div{text-align:left}#wpmem_login{margin-bottom:120px}.pas-block-form{margin:120px
0 200px 0}#wp-shabbat-link{display:none }.vc_tta-tab{float:right}body:not(.vc_editor) header{top:0 !important}